.page-signin {
  background-color: #fff;
  height: 100%;
}
.header_container {
	height: 100%;
}
.avatar_container {
	padding: 12px 20px;
	background-color: #ececec;
}
.avatarStyle {
	width: 40px;
}
.userInfo_container {
	padding-left: 20px;
}
.username {
	font-size: 14px;
}
.usergroup {
	font-size: 12px;
	line-height: 20px;
}
.on_work_container {
	background-color: #e0e0e0;
}
.out_work_container {
	background-color: #ececec;
}